.container {
  width: 640px;
  margin: 0 auto;
}
.content {
  margin-top: 80px;
}

.form-content {
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.form {
  display: flex;
  flex-direction: column;
}
.label {
  margin-bottom: 10px;
}
.input-content {
  display: flex;
  flex-wrap: nowrap;
}
.input {
  color: #808080;
}
.form-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select {
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: #808080;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.select:disabled {
  border-color: #eceff1;
  color: #bdbdbd;
}
.btn-submit {
  padding: 6px 12px;
  background-color: #7c4dff;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.btn-submit:disabled {
  background-color: #eceff1;
  cursor: default;
  color: #bdbdbd;
}

.list-content {
  margin-top: 10px;
}
.todos-list {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.todo-li {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.todo-li:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.todo-li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.todo-li-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-name svg {
  display: inline-block;
  vertical-align: text-bottom;
  width: 22px;
  height: 22px;
  margin-right: 3px;
}
.p-category {
  font-size: 14px;
  color: #808080;
}
.p-category svg {
  display: inline-block;
  vertical-align: text-bottom;
  width: 17px;
  height: 17px;
  margin-right: 3px;
}
.btn-delete {
  display: inline-flex;
  cursor: pointer;
  color: #808080;
  width: 20px;
  padding-left: 20px;
}
.btn-delete:hover {
  color: #ef5350;
}
