/* Buttons */
.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}
.btn-dark-mode {
  font-weight: 700;
}
.btn-dark-mode svg {
  position: relative;
  top: -2px;
  margin-right: 6px;
}
.btn-dark-mode:hover {
  color: var(--primary);
}

.btn-date {
  color: var(--primary);
  margin-left: 4px;
}
.form-date span {
  font-weight: 500;
}

.btn-important {
  color: var(--white);
  stroke: var(--secondary);
}
.btn-is-important {
  color: var(--primary);
  stroke: var(--primary);
}
.btn-important:hover {
  color: var(--primary);
  stroke: var(--primary);
}

/* Navbar */
.navbar {
  background-color: var(--primary-1);
}
.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  max-width: 800px;
  margin: 0 auto;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
}
.nav-item a {
  text-decoration: none;
  color: var(--dark);
  display: flex;
  font-weight: 700;
  transition: color 0.1s ease-in;
}
.nav-item:nth-child(-n + 2) {
  margin-right: 20px;
}
.nav-item a svg {
  position: relative;
  top: -2px;
}

.nav-item:hover a {
  color: var(--primary);
}

.nav-item a.active {
  color: var(--primary);
}

/* Container */
.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Todos */
.todos-content {
  padding: 20px 10px;
}
.task-date {
  font-weight: 500;
  color: var(--secondary);
}

/* Completed */
.completed-content h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Inputs */
.todo-input {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: var(--accent-1);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0px 16px;
}
.form-icon {
  display: flex;
  align-items: center;
  height: 56px;
  margin-right: 16px;
  color: var(--primary);
}
.form-input {
  flex-grow: 1;
}
.label {
  display: flex;
}
.input-text {
  flex: 100%;
  height: 56px;
  cursor: text;
  font-weight: 500;
  color: var(--dark);
}
.input-text::placeholder {
  color: var(--primary);
  font-weight: 500;
}
.form-date {
  display: flex;
  align-items: center;
  position: relative;
}
.form-date .btn-small {
  color: var(--primary);
}

.input-checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid var(--secondary);
  border-radius: 50%;
}
.input-checkbox:hover {
  border-color: var(--primary);
}
.input-checkbox:hover::before {
  content: '\2714';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--primary);
}

.input-checkbox-completed {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid var(--primary);
  border-radius: 50%;
}
.input-checkbox-completed::before {
  content: '\2714';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--primary);
}

.react-datepicker {
  position: absolute;
  top: 25px;
  right: 0px;
  background-color: var(--white);
  border-color: var(--secondary);
  color: var(--dark);
}
.react-datepicker__header {
  background-color: var(--white);
  border-color: var(--secondary);
}
.react-datepicker__day--selected {
  background-color: var(--primary);
}
.react-datepicker__day--selected:hover {
  background-color: var(--primary);
}
.react-datepicker__day--selected.react-datepicker__day {
  color: var(--white);
}
.react-datepicker__day {
  color: var(--dark);
}
.react-datepicker__current-month {
  color: var(--dark);
}
.react-datepicker__day-name {
  color: var(--black);
}
.react-datepicker__day--keyboard-selected {
  background-color: var(--primary);
}
.react-datepicker__day--keyboard-selected:hover {
  background-color: var(--primary);
}

/* Important */
.important-content {
  padding: 20px 10px;
}
.important-content h2 {
  margin-bottom: 20px;
}

/* Todo */
.todo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
  padding: 0px 16px;
  background-color: var(--secondary-1);
  border-radius: 8px;
  margin-top: 4px;
}
.todo-content:hover {
  background-color: var(--secondary-2);
}
.todo-mark {
  margin-right: 16px;
  position: relative;
}
.todo-settings {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.btn-delete {
  color: var(--accent);
  font-weight: 500;
  margin-right: 10px;
  display: none;
}
.todo-content:hover .btn-delete {
  display: block;
}
.todo-text {
  font-weight: 500;
}
.todo-text-completed {
  text-decoration: line-through;
}
.todo-date {
  display: flex;
  font-size: 12px;
  color: var(--secondary);
}
.todo-date svg {
  margin-right: 3px;
}

/* Footer */
.footer {
  padding: 120px 10px;
}
