:root {
  --white: #ffffff;
  --dark: #333333;

  --primary: #4caf50;
  --primary-light: #80e27e;
  --primary-dark: #087f23;

  --secondary: #9e9e9e;
  --secondary-light: #cfcfcf;
  --secondary-dark: #707070;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: var(--dark);
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary);
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.5px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

button {
  all: unset;
}
