:root {
  --color-white: #fff;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-500: #737373;
  --color-neutral-700: #404040;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  --color-indigo-50: #e0e7ff;
  --color-indigo-100: #e0e7ff;
  --color-indigo-500: #6366f1;

  --color-red-300: #fca5a5;
  --color-red-500: #ef4444;
}

.dark {
  --color-white: #171717;
  --color-neutral-100: #0a0a0a;
  --color-neutral-200: #404040;
  --color-neutral-500: #e5e5e5;
  --color-neutral-950: #e5e5e5;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-neutral-950);
  background-color: var(--color-neutral-100);
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-neutral-950);
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

button {
  all: unset;
}

input {
  all: unset;
}

svg {
  fill: currentColor;
}